@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
    font-size: 1.8em;
    font-weight: 600;
    color: transparent; 
    background: linear-gradient(to right,rgb(52, 139, 238),rgb(203, 118, 203),rgb(211, 130, 144), rgb(223, 79, 79)); 
    background-clip: text; 
    -webkit-background-clip: text; 
  }


.custom-scrollbar::-webkit-scrollbar {
  width: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2d2d2d; 
  border-radius: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #5a5a5a; 
  border-radius: 8px; 
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a; 
}

.anime hr{
  background: linear-gradient(to right,skyblue,skyblue,white,skyblue,skyblue);
  animation: loadinganime 0.8s linear infinite;
}

@keyframes loadinganime{
  0%{
    background: linear-gradient(to right,white,skyblue,skyblue,skyblue,skyblue);
  }
  25%{
    background: linear-gradient(to right,skyblue,white,skyblue,skyblue,skyblue);
  }
  50%{
    background: linear-gradient(to right,skyblue,skyblue,white,skyblue,skyblue);
  }
  75%{
    background: linear-gradient(to right,skyblue,skyblue,skyblue,white,skyblue);
  }
  100%{
    background: linear-gradient(to right,skyblue,skyblue,skyblue,skyblue,white);
  }
}